@font-face {
	font-family: "OpenSans";
	src: url("~@/assets/fonts/OpenSans-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src: url("~@/assets/fonts/OpenSans-Light.ttf") format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src: url("~@/assets/fonts/OpenSans-SemiBold.ttf") format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src: url("~@/assets/fonts/OpenSans-Bold.ttf") format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src: url("~@/assets/fonts/OpenSans-ExtraBold.ttf") format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Molengo";
	src: url("~@/assets/fonts/Molengo-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Lekton";
	src: url("~@/assets/fonts/Lekton-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
#app {
	font-family: "OpenSans";
	color: #2b2b2b;
}
button{
	font-family: "OpenSans";
	color: #2b2b2b;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
body{
	margin: 0;
/*	background: #F5F5DC;*/

	background: #f5f5f5;
	position: relative;
}
.container{
	width: calc(100% - 70px);
	max-width: 1800px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}
.mat-div{
	background: #fff;
	border: solid 1px #e6e6e6;
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-shadow: 0px 8px 14px rgba(0, 0, 0, .1);
}
.flex-boxes{
	overflow: hidden;
	width: 400px;

	background: #fff;
	border: solid 1px #e6e6e6;
	border-radius: 8px;
	box-shadow: 0px 8px 14px rgba(0, 0, 0, .1);
}
.flex-boxes-in{
	display: flex;
	overflow-y: auto;
	flex-direction: column;
	max-height: 550px;
	border-radius: 8px
}
/*.flex-box:nth-child(3n+3){
	margin-right: 0;
}*/
.flex-box{
	height: 200px;
	background: #fff;
	position: relative;
	width: 100%;

	/*border-bottom: solid 1px #e6e6e6;*/

	margin-bottom: 10px;
	box-shadow: inset 0 15px 15px -15px rgb(0 0 0 / 20%), inset 0 -15px 15px -15px rgb(0 0 0 / 20%);
}
.flex-box:first-child{
	margin-top: 10px;
}
.right-flex-box{
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
}
.left-flex-box{
	position: absolute;
	left: 20px;
	top: 20px;
}
.flex-box-name{
	height: 120px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-vocab{
	padding-top: 20px;
	font-size: 24px;
  letter-spacing: 0.01px;
  font-weight: 600;
}
.logo-ul-vocab{
	font-size: 14px;
}
.right-flex-box-item{
	color: #9a9898;
	cursor: pointer;
}
.flex-box-buttons{
	padding-left: 20px;
	padding-right: 20px;
}
.flex-box-buttons .button-add{
	height: 40px;
	border-radius: 2px;
	font-size: 16px;
}
.list-ul{
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.list-ul li{
	display: flex;
	align-items: center;
	height: 70px;
	border-bottom: solid 1px #e6e6e6;

	font-size: 14px;
	letter-spacing: 0.01px;
}
.mat-title{
	padding-bottom: 20px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
  border-bottom: solid 1px #e6e6e6;
}
.mat-title .mat-name{
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.01px;
}
.button-add{
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 2px;
	color: #9a9898;
  border: solid 1px #9a9898;
  cursor: pointer;
  outline: none;

  font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01px;

	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-add:hover {
	color: #376bff;
  border: solid 1px #376bff; 
}
.list-item{
	justify-content: space-between;
	display: flex;
}
.list-item .list-ul-name{
	font-size: 18px;
	letter-spacing: 0.01px;
	font-weight: 600;
}
.list-item .list-ul-date{
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.01px;
	color: #9a9898;
}
.list-ul .rightpart-list{
	display: flex;
	justify-content: flex-end;
}
.button-add img{
 width: 20px;
}
.mat-modal{
	position: fixed;
	top: 200px;
	left: calc(50% - 200px);
	width: 400px;
	background: #fff;
	border: solid 1px #e6e6e6;
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-shadow: 0px 8px 14px rgba(0, 0, 0, .1);
	z-index: 110;
}
.big-modal{
	top: 100px;
	left: calc(50% - 400px);
	width: 800px;
}
.back-modal{
	width: 100%;
	height: 100%;
  position: fixed;
  opacity: 0.7;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #e6e6e6;
  left: 0;
  z-index: 100;
}
.mat-modal .modal-title{
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.01px;

	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.mat-modal .modal-form{
	width: 100%;
}
.mat-modal .modal-form input{

}
textarea{
	height: 30px;
	border: none;
	border: solid 1px #9a9898;
	width: 100%;
	outline: none;

  font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01px;
	font-family: "OpenSans";
	color: #2b2b2b;
	min-height: 150px;
	padding: 10px;
	border-radius: 2px;
	resize: none
}
textarea::placeholder {
	color: #9a9898;
}
input{
	height: 30px;
	border: none;
	border-bottom: solid 1px #9a9898;
	width: 100%;
	outline: none;

  font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01px;
	font-family: "OpenSans";
	color: #2b2b2b;
}
input:hover{
	border-bottom: solid 1px #376bff;
}
input::placeholder {
	color: #9a9898;
}

input:hover::-webkit-input-placeholder {
   color: #376bff !important;
}

/* Mozilla Firefox 4 - 18 */
input:hover:-moz-placeholder {
    color: #376bff !important;
}

/* Mozilla Firefox 19+ */
input:hover::-moz-placeholder {
    color: #376bff !important;
}

/* IE 10+ */
input:hover:-ms-input-placeholder {
    color: #376bff !important;
}

.mat-modal .modal-form .modal-form-btns{
	margin-top: 15px;
	display: flex;
	justify-content: flex-end;
}
.btn-cancel{
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: white;
  color: #9a9898;
  border: solid 1px #9a9898;

  font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01px;

	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-submit{
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
	color: white;
  border: none;
  cursor: pointer;
  outline: none;
  background: #376bff;

  font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01px;

	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.home{
	width: calc(100% - 180px);
}
.float-menu{
	width: 180px;
}
.box-border{
	display: block;
	height: 40px;
	background: white;
}
.menu{
	width: 158px;
	position: fixed;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

	margin-top: 61px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.menu .logo{
	font-size: 30px;
  letter-spacing: 0.01px;

  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu .logo .logo-1{
	font-family: "Molengo"
}
.menu .logo .logo-2{
	font-family: "Lekton"
}
.menu .menu-items{
	font-size: 14px;
  letter-spacing: 0.01px;
  height: 50px;
}
.menu-item-font{
	display: flex;
	align-items: center;
	width: 19px;
}
.menu .menu-items .menu-item{
	cursor: pointer;
	margin-bottom: 10px;
	display: flex;
}
.menu-line{
	border-bottom: solid 1px #e6e6e6;
	margin-bottom: 10px;
}
.list-item-over{
  overflow-y: auto;
}
.add-words-translate input{
	margin-bottom: 10px;
}
.login-align{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: radial-gradient(circle, rgba(63,199,251,1) 0%, rgba(97,70,252,1) 100%);
}
.login-center{
	width: 600px;
	background: white;
	display: flex;

	border: solid 1px #e6e6e6;
	border-radius: 2px;
	box-shadow: 0px 8px 14px rgba(0, 0, 0, .1);
}
.reg-log{
	width: 315px;
}
.login-center .modal-form{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 10px;
	padding: 20px;
}

.login-center .login-logo{
	font-size: 32px;
  letter-spacing: 0.01px;

  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.login-center .login-logo .logo-1{
	font-family: "Molengo"
}
.login-center .login-logo .logo-2{
	font-family: "Lekton"
}
.login-text-css{
	letter-spacing: 0.01px;
  font-weight: 400;
  font-size: 14px;
}
.login-center input{
	margin-top: 20px;
	font-size: 16px;
}
.login-center .modal-form-btns{
	width: 100%;
}
.login-center .button-add{
	margin-top: 10px;
	background: white;
	border-radius: 2px;
}
.login-text-style{
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;

	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01px;
}
.login-text-style span{
	font-size: 18px;
}
.login-center .login-text{
	width: 50%;
	padding-left: 10px;
	border-radius: 0 2px 2px 0;
	background: #f5f5f5;
}
.login-text-error{
	margin-top: 5px;
	min-height: 28px;
	text-align: center;
	font-weight: 600;
	font-size: 10px;
	letter-spacing: 0.01px;
}
.scroll {
  scrollbar-color: #9a9898 #F5F5DC;
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background: #F5F5DC;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #9a9898;
}

.add-vocab-box{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 200px;

	
  cursor: pointer;

  font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.01px;
}

.view-mode{
	width: 30px;
  cursor: pointer;
  border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.view-mode span{
	width: 75%;
	height: 3px;
	display: block;
	background: #9a9898;
	margin-top: 3px;
	border-radius: 4px;
}
.view-mode span:first-child{
	margin-top: 0;
}
.view-mode-box{
	flex-direction: row;
	flex-wrap: wrap;
}
.view-mode-box span{
	width: 9px;
	height: 9px;
	border-radius: 0;
	margin: 2px !important;
}
.training .check-training{
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01px;
  cursor: pointer;
  user-select: none
}
.training .checkBox{
	margin-right: 10px;
}
.checkBox{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	/*border: solid 1px #9a9898;*/
	border-radius: 8px;
	background: #3687e3;
	color: white;
	cursor: pointer;
	border: solid 1px white;
}
.checkBox-none{
	border: solid 1px #9a9898;
	background: white;
}
.training-box{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.training-box .training-box-item{
	width: 49%;
	background: #fff;
	border: solid 1px #e6e6e6;
	border-radius: 8px;
	box-shadow: 0px 8px 14px rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 280px;

	font-size: 24px;
  letter-spacing: 0.01px;
  font-weight: 600;
  position: relative;
  user-select: none
}
.training-back{
	transform: rotate(-90deg);
	
	left: -122px;
	position: absolute;
	width: 280px;
	border-radius: 0;
	padding: 0;
}
.training-next{
	transform: rotate(90deg);
	
	right: -122px;
	position: absolute;
	width: 280px;
	border-radius: 0;
	padding: 0;
}

.button-add-hov{
	color: #376bff;
  border: solid 1px #376bff;
}
.training-solve-ch{
	width: 100%;
	height: 100%;
}
.training-solve-ch div{
	border-bottom: solid 1px #e6e6e6;
	padding-left: 10px;
	display: flex;
	align-items: center;
}
.training-solve-ch div:hover {
	color: #3687e3;
}
.training-solve-ch div:last-child{
	border-bottom: none;
}
.feedback-text{
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01px;
}
.feedback{
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 600px;
}
.feedback form{
	padding-top: 10px;
	/*max-width: 600px;*/
}
.feedback button{
	margin-left: 0;
	margin-top: 10px;
	background: white;
	height: 40px;
	border-radius: 2px;
	font-size: 16px;
	width: 250px;
}
.training-progress{
	margin-top: 20px;
	display: flex;
	box-shadow: 0px 8px 14px rgb(0 0 0 / 10%);
	border: solid 1px #e6e6e6;
  background: white;
  overflow: hidden;
}
.training-progress .progress-bar{
	height: 40px;
	font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01px;
  color: #2b2b2b;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  z-index: 2;
}
.load-f{
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 0;
	left: 0;
	top: 0;
	background: rgba(63,199,251,1);
	transition-duration: 1s;
}
.load-s{
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 0;
	left: 0;
	top: 0;
	background: #3687e3;
	transition-duration: 1s;
}
.load-t{
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 0;
	left: 0;
	top: 0;
	background: rgba(97,70,252,1);
	transition-duration: 1s;
}
.flex-boxes-border{
	height: 40px;
	background: white;
	margin-left: 10px;
}
.row-home{
	display: flex;
}
.hover-pc{
	display: none !important;
}

.loader {
  color: #376bff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.logo-vocab .logo-ul-name{
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  /* styles for browsers larger than 960px; */
  .container{
  	width: calc(100% - 20px);
  }
  .float-menu{
  	width: 50px;
  }
  .home{
  	    width: calc(100% - 50px);
  }
  .menu-name{
  	display: none;
  }
  .flex-boxes{
  	width: 300px;
  }
  .menu{
  	width: 30px;
  }
  .hover-pc{
		display: flex !important;
	}
  .hover-mobile{
  	display: none !important;
  }
  .menu-item{
  	justify-content: center;
  }
  .logo-vocab .logo-ul-name{
  	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 260px;
  }
  .add-vocab-box .add-vocab-box-mobile{
  	width: 35px !important;
  }
}

@media only screen and (max-width: 991.999999px){
	.container{
  	width: calc(100% - 20px);
  }
  .float-menu{
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	z-index: 10;
  	height: 60px;
  	width: 100%;
  }
  .menu{
  	margin: 0;
  	display: flex;
  	background: white;
  	width: 100%;
  	box-shadow: 0 -10px 10px -5px rgb(0 0 0 / 10%);
  	padding: 0;
  	padding-left: 10px;
  	height: 60px;
  	align-items: center;
  	justify-content: space-between;
  }
  .menu .logo{
  	padding-left: 10px;
  }
  .menu-items{
  	display: flex;
  }
  .home{
  	width: 100%;
  }
  .menu-items .menu-item{
  	flex-direction: column;
  	margin-bottom: 0 !important;
  	align-items: center;
  	justify-content: center;
  	margin-right: 20px;
  	width: 63px;
  }
  .menu-items .menu-item .menu-name{
  	margin-left: 0 !important;
  }
  .flex-boxes{
  	width: 250px;
  }
  .logo-vocab .logo-ul-name{
  	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 210px;
  }
  .add-vocab-mobile-text{
  	font-size: 16px;
  }
  .big-modal{
  	top: 50px;
    width: calc(100% - 40px);
    left: 0;
  }
  .modal-form .modal-title{
  	padding-left: 0 !important; 
  }
  .add-vocab-box .add-vocab-box-mobile{
  	width: 30px !important;
  }
  .add-vocab-box{
  	font-size: 14px;
  }
}

@media only screen and (max-width: 767px){
	.hover-mobile{
  	display: none;
  }
	.login-text{
		display: none;
	}
	.login-center .modal-form{
		width: 100%;
	}
	.hover-pc{
		display: flex !important;
	}
  .hover-mobile{
  	display: none !important;
  }
  .menu .menu-items{
  	font-size: 12px;
  }
  .menu-items .menu-item{
  	width: 55px;
  	margin-right: 0;
  }
  .menu-items{
  	width: 100%;
  	justify-content: space-evenly;
  }
  .menu-items .menu-line{
  	display: none;
  }
  .float-menu{
  	height: 50px;
  	z-index: 1000;
  }
  .menu{
  	height: 51px;
  }
  .flex-boxes{
  	width: 100%;
  	overflow-y: unset;
  }
  .flex-boxes-in{
  	overflow-y: unset;
  	height: auto;
  	max-height: inherit;
  }
  .mat-title .mat-name{
  	font-size: 20px;
  }
  .mat-title{
  	height: 20px;
  }
  .button-add{
  	/*font-size: 12px;*/
  	height: 30px;
  	padding-left: 10px;
  	padding-right: 10px;
  }
  .mat-div{
  	margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .flex-box{
  	height: 190px;
  }
  .flex-box .flex-box-name{
  	padding-left: 10px;
    padding-right: 10px;
  }
  .flex-box .right-flex-box{
  	right: 10px;
  }
  .flex-box .left-flex-box{
  	left: 10px;
  }
  .flex-box .flex-box-buttons{
  	padding-left: 10px;
    padding-right: 10px;
  }
  .flex-box-buttons .button-add{
  	font-size: 14px;
  	height: 35px;
  }
  .list-ul li{
  	height: 50px;
  }
  .list-item .list-ul-name{
  	font-size: 14px;
  }
  .list-item .rightpart-list{
  	font-size: 12px;
  }
  .feedback-form{
  	max-width: 100%;
    width: 100%;
  }
  .feedback-form textarea{
    width: calc(100% - 22px);
  }
  .feedback-form .modal-form-btns{
  	width: 100%;
  }
  .feedback-form .modal-form-btns .button-add{
  	width: 100%;
  }
  .login-center{
  	width: calc(100% - 20px);
  }
  .training-box{
  	flex-direction: column;
		width: 100%;
  }
  .training-box .training-box-item{
		width: 100%;
    height: 28vh;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .training-box .training-next,
  .training-box .training-back{
  	display: none;
  }
  .training-progress{
  	margin-top: 10px;
  }
  .training-box .training-box-item .training-solve-ch div{
  	width: calc(100% - 10px) !important;
  }
  .add-vocab-box{
  	font-size: 12px;
  }
  .back-modal{
  	display: none;
  }
  .mat-modal{
  	left: 0;
  	width: 100%;
    top: -20px;
    height: 100%;
    padding: 0;
  }
  .mat-modal .modal-title{
  	padding-left: 10px;
  	border-bottom: solid 1px #e6e6e6;
  }
  .mat-modal .modal-form{
  	margin-top: 10px;
  	margin-left: 10px;
  	width: calc(100% - 25px)
  }
  .mat-modal .modal-form .modal-form-btns{
  	margin-top: 20px;
  	flex-wrap: wrap;
  }
  .mat-modal .modal-form .modal-form-btns{
  	justify-content: space-between;
  }
  .mat-modal .modal-form .modal-form-btns button{
  	margin-left: 0 !important;
  }
  .mat-modal .modal-form .modal-form-btns button:nth-child(1),
  .mat-modal .modal-form .modal-form-btns button:nth-child(2){
  	width: 49%;
  }
  .mat-modal .modal-form .modal-form-btns button:nth-child(3){
  	width: 100%;
  	margin-top: 10px;
  }
}
